<h2>Ajouter un produit</h2>
<form method="post" action="" id="add_product">
  <div class="form-group">
    <label name="name">Nom du produit</label>
    <input type="text" name="name" required/>
  </div>

  <div class="form-group">
    <label name="quantity">Quantité</label>
    <input type="number" name="quantity" required/>
  </div>

  <button type="submit">Ajouter</button>  
</form>

<form method="GET" action="/search">
    <h2>Recherche</h2>
    <div class="form-group">
      <input type="text" name="name" />
    </div>
    <button type="submit">Rechercher</button>  
</form>

<ul class="product_list">
  <h2>Liste des produits</h2>
  {{#each products}}
  <div class="product">
     <div>
        <span class="name">{{this.name}}</span>
        <span class="quantity">Quantité : {{this.quantity}}</span>  
     </div>
      <form method="GET" action="/delete/{{this.name}}">
      <button type="submit">delete</button>
      </form>   
  </div>
  {{/each}}
</ul>